@media screen and (max-width: 640px) {

  #grid {
    width: 310px;
    height: 371px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .row {
      display: flex;
      height: 100%;
      gap: 6px;
    }

    .case {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      border: 2px solid #d3d6da;
    }

    .green {
      background-color: #6aaa64;

      .letter {
        color: white;
      }
    }

    .grey {
      background-color: #787c7e;
      .letter {
        color: white;
      }
    }

    .orange {
      background-color: #f5793a;
      .letter {
        color: white;
      }
    }

    .letter {
      width: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: bold;
      vertical-align: middle;
      box-sizing: border-box;
      color: black;
      text-transform: uppercase;
      user-select: none;
    }
  }

}

@media screen and (min-width: 640px) {

  #grid {
    width: 350px;
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .row {
      display: flex;
      height: 100%;
      gap: 6px;
    }

    .case {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      border: 2px solid #d3d6da;
    }

    .green {
      background-color: #6aaa64;

      .letter {
        color: white;
      }
    }

    .grey {
      background-color: #787c7e;
      .letter {
        color: white;
      }
    }

    .orange {
      background-color: #f5793a;
      .letter {
        color: white;
      }
    }

    .letter {
      width: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: bold;
      vertical-align: middle;
      box-sizing: border-box;
      color: black;
      text-transform: uppercase;
      user-select: none;
    }
  }

}

.isActive {
  border: 2px solid #878a8c !important;
  color: #000000;
}